.services-main {
  padding: 80px 8%;
  text-align: center;
  background-color: var(--background-color);
  h3 {
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--color-write);
    margin-bottom: 60px;
    position: relative;
    &::before {
      content: "";
      bottom: -30px;
      left: 50%;
      width: 100px;
      transform: translate(-50%, -50%);
      border-bottom: 8px solid var(--yellow-main);
      position: absolute;
    }
  }
  p {
    width: 80%;
    margin: 20px auto;
    font-size: 1.6rem;
    line-height: 24px;
    font-weight: 400;
  }
  &__details {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-icon {
      font-size: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      height: 70px;
      width: 70px;
      color: var(--primary-main);
      background-color: var(--yellow-main);
    }

    h2 {
      margin-top: 20px;
      font-size: 20px;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}
