*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  text-decoration: none;
  list-style: none;
}

html,
body {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  position: relative;
}

:root {
  --background-dark: #bdbdbd;
  --background-color: #fafafa;
  --background: #eee;
  --color-dark-grey: #cfcfcf;
  --color-light-grey: #ececec;
  --color-white: #fff;

  --off-white: #f7f7f7;
  --color-black: #000;
  --color-write: #333;
  --color-write-light: #646464;
  --color-grey: grey;
  --shadow-color: rgba(0, 0, 0, 0.8);
  --light-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --dark-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --transparent-main: transparent;

  --secondary-main: #2f506c;
  --primary-main: maroon;

  --orange-main: #ce4918;
  --green-main: #00a850;
  --pink-main: #ed0076;
  --purple-main: #878ab7;
  --yellow-main: #fdcb0f;
}

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;900");
body {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7rem;
}
