.background-small {
  background: rgba(0, 0, 0, 0.6);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  opacity: 1 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  color: var(--color-white);

  h1 {
    z-index: 1000;
    text-transform: uppercase;
    font-size: 75px;
    font-weight: 700;
    @media only screen and (max-width: 650px) {
      font-size: 50px;
    }
  }
  p {
    z-index: 1000;
    .bottom {
      text-decoration: underline;
    }
    @media only screen and (max-width: 650px) {
      width: auto;
      font-size: 14px;
    }
    margin-top: 20px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    width: 220px;
    text-transform: capitalize;
  }
}
